body {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #EEAECA;
  background: linear-gradient(231deg, rgba(238, 174, 202, 1) 0%, rgba(233, 227, 148, 1) 78%);
  overflow: hidden;
}
h1{
    font-size:xx-large;
}
.parent-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  width: 40%;
  height: 60%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 7px 7px 30px 1px rgba(0, 0, 0, 0.41);
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
input {
  border-radius: 7px;
  border: 1px solid gray;
  height: auto;
  padding: 10px;
}
.form-centered-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}
.form-centered-items a {
  color: brown;
}

button{  
border-radius: 10px;
  font-size: 20px;
  height: auto;
  width: auto;
  background-color: rgb(250, 208, 208);
  border: 1px solid pink;

  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: lightgray;


  color: black;
  transition: 0.2s ease-in;
}
